.benvenuto {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 90vh;
    background-color: black;
}

.foglio{
    border: 0.5px solid black;
    padding: 5%;
}

.cv {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.bth {
    width: auto;
}

.logo{
    width: 50%;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 5vh;
}